.btn {
  background-color: var(--color-primary);
  color: var(--btn);
  border-radius: var(--radius);

  font-size: var(--title3);

  display: inline-flex;
  padding-inline: 2rem;
  align-items: center;
  justify-content: center;

  height: 3.5rem;
}

.btn:hover {
  background-color: var(--color-primary-2);
}