:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --grey-4: #212529;
  --grey-3: #868e96;
  --grey-2: #e9ecef;
  --grey-1: #f8f9fa;

  --radius: 0.5rem;

  --font-primary: "Nunito", sans-serif;

  --title1: 2.375rem;
  --title2: 1.375rem;
  --title3: 1rem;
  --title4: 0.9375rem;
  --title5: 0.8125rem;
}