.div {
  width: 560px;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    font-weight: 700;
    font-size: var(--title2);
    line-height: 2.125rem;

    color: var(--grey-5)
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}

@media (max-width: 950px) {
  .div {
    width: 21.1875rem;
    margin-bottom: 2rem;
  }
}