.div {
  height: 79px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  select {
    height: 3rem;

    padding-left: 1rem;

    font-size: var(--title5);

    color: var(--grey-5);
    background-color: var(--grey-1);
    border-radius: var(--radius);

    cursor: pointer;
  }
}